<main>
    <h1>LISTA DE PRODUCTOS</h1>
    <ul>
        {{#each products}}
            <li>{{this.title}}: ${{this.price}}</li>
            <li>{{this.id}}<li>
            <li>{{this.stock}}</li>
              <li>{{this.description}}</li>
                <li>{{this.category}}</li>
                 <li>{{this.status}}</li>
                  <li>{{this.code}}</li>
            <br>
        {{/each}}
    </ul>
</main>